* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(236, 239, 241);
    /*padding: 50px;*/
    /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

.page {
    margin: 50px;
    min-height: 550px;
    /*border: 1px solid #a9b7c6;*/
    color: #234766;
    border-radius: 2px;
    background-color: #fff;
    /*background-image: -webkit-linear-gradient(270deg, rgba(255,255,255,0) 60%, #fff),-webkit-linear-gradient(20deg, #e0f1ff 32%, #fffae3);*/
    /*background-image: linear-gradient(180deg, rgba(255,255,255,0) 60%, #fff),linear-gradient(70deg, #e0f1ff 32%, #fffae3);*/
    /*border-bottom: #fff;*/
    font: 14px/1.42857 "Microsoft YaHei", 微软雅黑, "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05), 0 1px 4px 0 rgba(0, 0, 0, .08), 0 3px 1px -2px rgba(0, 0, 0, .2);
}

.title {
    padding: 30px 0 30px 8%;
    border-bottom: 1px solid #d8d8d8;
    font-size: 3em;
    background: #777;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 3px rgba(255, 255, 255, 0.5);
}

.content {
    font-size: 1.2em;
    margin-top: 20px;
    padding: 50px;
}

.content p {
    padding: 10px;
}

.content ul {
    list-style: none;
}

a {
    color: #00B7FF;
}

.pull-right {
    float: right;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
}

.btn:hover, .btn:active {
    text-decoration: none;
    background-color: #ddd;
    background-image: -webkit-linear-gradient(#eee, #ddd);
    background-image: linear-gradient(#eee, #ddd);
    border-color: #ccc;
}

.btn-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    background-color: #60b044;
    background-image: -webkit-linear-gradient(#8add6d, #60b044);
    background-image: linear-gradient(#8add6d, #60b044);
    border-color: #5ca941;
    text-decoration: none;
}

.btn-primary:hover {
    color: #fff;
    background-color: #569e3d;
    background-image: -webkit-linear-gradient(#79d858, #569e3d);
    background-image: linear-gradient(#79d858, #569e3d);
    border-color: #4a993e;
}

.intro-shelf {
    margin-left: 20px;
    box-shadow: 0 2px 8px 0 #e6e6e6;
    padding: 10px 50px;
    font-size: 16px;
}

.book-image{
    margin-right: 50px;
    border: 1px solid #2b2b2b;
}
